{% load staticfiles %}
{% load listings_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Avalon Admin Theme</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="Avalon Admin Theme">
    <meta name="author" content="The Red Team">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 10]>
        <script src="{% static 'listings/assets/js/media.match.min.js' %}"></script>
        <script src="{% static 'listings/assets/js/placeholder.min.js' %}"></script>
    <![endif]-->

    <link href="{% static 'listings/assets/fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet">        <!-- Font Awesome -->
    <link href="{% static 'listings/assets/css/styles.css' %}" type="text/css" rel="stylesheet">                                     <!-- Core CSS with all styles -->

    <link href="{% static 'listings/assets/plugins/jstree/dist/themes/avalon/style.min.css' %}" type="text/css" rel="stylesheet">    <!-- jsTree -->
    <link href="{% static 'listings/assets/plugins/codeprettifier/prettify.css' %}" type="text/css" rel="stylesheet">                <!-- Code Prettifier -->
    <link href="{% static 'listings/assets/plugins/iCheck/skins/minimal/blue.css' %}" type="text/css" rel="stylesheet">              <!-- iCheck -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link href="{% static 'listings/assets/css/ie8.css' %}" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'listings/assets/plugins/charts-flot/excanvas.min.js' %}"></script>
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js' %}"></script>
    <![endif]-->

    <link href="{% static 'listings/css/site.css' %}" type="text/css" rel="stylesheet">

    {% block css %}

    {% endblock %}
</head>

<body class="infobar-offcanvas">

<header id="topnav" class="navbar navbar-default navbar-fixed-top clearfix" role="banner">

    <ul class="nav navbar-nav toolbar pull-right">

        {% if user.is_authenticated %}

            <li class="dropdown toolbar-icon-bg demo-search-hidden mr5">
                <a href="#" class="dropdown-toggle tooltips" data-toggle="dropdown"><span class="icon-bg"><i class="fa fa-fw fa-search"></i></span></a>

                <div class="dropdown-menu arrow search dropdown-menu-form">
                    <div class="dd-header">
                        <span>Search</span>
                        <span><a href="#">Advanced search</a></span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="">

					<span class="input-group-btn">

						<a class="btn btn-primary" href="#">Search</a>
					</span>
                    </div>
                </div>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
                    <span class="hidden-xs">{{ user.first_name }}</span>
                    <img class="img-circle" src="{% static 'listings/assets/demo/avatar/avatar_06.png' %}" alt="Dangerfield" />

                </a>
                <ul class="dropdown-menu userinfo">
                    <li><a href="/listings/dashboard/"><span class="pull-left">Dashboard</span> <i class="pull-right fa fa-dashboard"></i></a></li>
                    <li><a href="#"><span class="pull-left">Account Settings</span> <i class="pull-right fa fa-cogs"></i></a></li>
                    <li><a href="#"><span class="pull-left">Help</span> <i class="pull-right fa fa-question-circle"></i></a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span class="pull-left">Earnings</span> <i class="pull-right fa fa-money"></i></a></li>
                    <li><a href="#"><span class="pull-left">Statement</span> <i class="pull-right fa fa-file-o"></i></a></li>
                    <li><a href="#"><span class="pull-left">Withdrawals</span> <i class="pull-right fa fa-credit-card"></i></a></li>
                    <li class="divider"></li>
                    <li><a href="/listings/signout/"><span class="pull-left">Sign Out</span> <i class="pull-right fa fa-sign-out"></i></a></li>
                </ul>
            </li>

        {% else %}
            <li><a href="/listings/signin/"><strong><i class="fa fa-power-off"></i> Login</strong></a></li>
        {% endif %}

    </ul>

</header>

<div id="wrapper">
    <div id="layout-static">
        <div class="static-sidebar-wrapper sidebar-inverse">
            <div class="static-sidebar">
                <div class="sidebar">
                    <div class="widget stay-on-collapse" id="widget-sidebar">

                        <span class="widget-heading">Search</span>
                        <div class="p10">
                            <form role="form" method="post" action="/listings/search/">
                                {% csrf_token %}
                                <div class="input-icon right">
                                    <i class="fa fa-fw fa-search"></i>
                                    <input type="text" name="{{ form.search_string.name }}" value="{{ search_string }}" class="form-control search-fields mb2" autocomplete="off">
                                </div>
                                {{ form.category|addcss:"form-control search-fields" }}
                                <button type="submit" class="btn btn-primary-alt btn-block hidden">Search</button>
                            </form>
                        </div>

                        <span class="widget-heading">Categories</span>
                        <nav role="navigation" class="widget-body">
                            <ul class="acc-menu">
                                <li><a href="index.html"><i class="fa fa-angle-double-right"></i><span>General</span><span class="badge badge-dark">124</span></a></li>
                                <li><a href="index.html"><i class="fa fa-angle-double-right"></i><span>Events</span><span class="badge badge-dark">182</span></a></li>
                                <li><a href="index.html"><i class="fa fa-angle-double-right"></i><span>For Sale</span><span class="badge badge-dark">921</span></a></li>
                                <li><a href="index.html"><i class="fa fa-angle-double-right"></i><span>Jobs</span><span class="badge badge-dark">352</span></a></li>
                                <li><a href="index.html"><i class="fa fa-angle-double-right"></i><span>Services</span><span class="badge badge-dark">65</span></a></li>
                                <li><a href="index.html"><i class="fa fa-angle-double-right"></i><span>Gigs</span><span class="badge badge-dark">75</span></a></li>
                                <li><a href="index.html"><i class="fa fa-angle-double-right"></i><span>Housing</span><span class="badge badge-dark">862</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="static-content-wrapper">
            <div class="static-content">
                <div class="page-content">
                    {% block content %}

                    {% endblock %}
                </div>
                <footer role="contentinfo">
                    <div class="clearfix">
                        <ul class="list-unstyled list-inline pull-left">
                            <li><h6 class="no-maring">Listings</h6></li>
                        </ul>
                        <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'listings/assets/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'listings/assets/js/jqueryui-1.9.2.min.js' %}"></script>
<script src="{% static 'listings/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'listings/assets/js/application.js' %}"></script>

{% block js %}

{% endblock %}

<!-- End loading page level scripts-->

</body>
</html>