{% extends 'listings/signing_base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Sign In</h2></div>
        <div class="panel-body">

            <form class="form-horizontal" role="form" method="post" action="/listings/signin/">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" name="{{ form.email.name }}" placeholder="Email Username" data-parsley-minlength="6" placeholder="At least 6 characters" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-key"></i>
									</span>
                            <input type="password" class="form-control" name="{{ form.password.name }}" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <a href="extras-forgotpassword.html" class="pull-left">Forgot password?</a>
                        <div class="checkbox-inline icheck pull-right pt0">
                            <label for="">
                                <input type="checkbox">
                                Remember me
                            </label>
                        </div>
                    </div>
                </div>


                <div class="panel-footer">
                    <div class="clearfix">
                        <a href="/listings/signup" class="btn btn-default pull-left">Sign Up</a>
                        <button type="submit" class="btn btn-primary pull-right">Sign In</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}