{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" class="coming-soon">
<head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="">
    <meta name="author" content="The Red Team">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'listings/assets/plugins/iCheck/skins/minimal/blue.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'listings/assets/fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'listings/assets/css/styles.css' %}" type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link href="{% static 'listings/assets/css/ie8.css' %}" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The following CSS are included as plugins and can be removed if unused-->

</head>

<body class="focused-form">


<div class="container" id="registration-form">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>



<!-- Load site level scripts -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->

<script src="{% static 'listings/assets/js/jquery-1.10.2.min.js' %}"></script> 							<!-- Load jQuery -->
<script src="{% static 'listings/assets/js/jqueryui-1.9.2.min.js' %}"></script> 							<!-- Load jQueryUI -->
<script src="{% static 'listings/assets/js/bootstrap.min.js' %}"></script> 								<!-- Load Bootstrap -->

<script src="{% static 'listings/assets/plugins/sparklines/jquery.sparklines.min.js' %}"></script>  		<!-- Sparkline -->
<script src="{% static 'listings/assets/plugins/jstree/dist/jstree.min.js' %}"></script>  				<!-- jsTree -->

<script src="{% static 'listings/assets/plugins/codeprettifier/prettify.js' %}"></script> 				<!-- Code Prettifier  -->
<script src="{% static 'listings/assets/plugins/bootstrap-switch/bootstrap-switch.js' %}"></script> 		<!-- Swith/Toggle Button -->

<script src="{% static 'listings/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js' %}"></script>  <!-- Bootstrap Tabdrop -->

<script src="{% static 'listings/assets/plugins/iCheck/icheck.min.js' %}"></script>     					<!-- iCheck -->

<script src="{% static 'listings/assets/js/enquire.min.js' %}"></script> 									<!-- Enquire for Responsiveness -->

<script src="{% static 'listings/assets/plugins/bootbox/bootbox.js' %}"></script>							<!-- Bootbox -->

<script src="assets/plugins/simpleWeather/jquery.simpleWeather.min.js' %}"></script> <!-- Weather plugin-->

<script src="{% static 'listings/assets/js/application.js' %}"></script>
<script src="{% static 'listings/assets/demo/demo.js' %}"></script>
<script src="{% static 'listings/assets/demo/demo-switcher.js' %}"></script>


<!-- End loading site level scripts -->
<!-- Load page level scripts-->

<!-- End loading page level scripts-->
</body>
</html>