{% extends 'listings/admin/base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load listings_tags %}

{% block css %}
    <link href="{% static 'listings/assets/fancybox/jquery.fancybox.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="page-heading">
        <h1>
            View Post
        </h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-info mb10">
                <div class="panel-heading">
                    <h2><i class="fa fa-anchor"></i>{{ post.title }}</h2>
                </div>
                <div class="panel-body">
                    {{ post.content }}
                    <div class="mt10 mb10">
                        {% if post.pictures.all.count > 0 %}
                            {% for picture in post.pictures.all %}
                                {% thumbnail picture.file "1000" as big %}
                                    {% thumbnail picture.file "50x50" crop="center" as im %}
                                        <a class="fancybox" href="{{ big.url }}" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endthumbnail %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="panel-footer p10">
                        <div class="row pl10">
                            <div class="pr20 pull-left">
                                <i class="fa fa-dollar"></i> {{ post.price }}
                            </div>
                            <div class="pr20 pull-left">
                                <i class="fa fa-calendar"></i>
                                {{ post.create_date|date:"M. d, Y" }}
                            </div>
                            <div class="pr20 pull-left">
                                <i class="fa fa-map-marker"></i>
                                <a href="https://www.google.ca/maps/place/{{ post.location }}" target="_blank">{{ post.location }}</a>
                            </div>
                            <div class="pr20 pull-left">
                                <i class="fa fa-tags"></i>
                                {% for tag in post.tags_text %}
                                    <a href="/listings/tag/{{ tag.split|join:'-' }}/" target="_blank">​​{{ tag }}</a>
                                    {% if forloop.revcounter > 1 %}
                                        -
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'listings/assets/fancybox/jquery.fancybox.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.fancybox').fancybox();
        });
    </script>
{% endblock %}